body {
    background-color: grey;    
    padding-top: 200px;
    margin-bottom: 350px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
    }
    
    .container {
        background-color: white;
        padding: 200px;
        margin-bottom: 200px;
    }
    
    .hej {
        width: 200px;
        height: 200px;
        background-color: red;
        border-radius: 50%;
       margin: auto;
    }