body {
    margin: 0;
    background-color: rgb(173, 169, 169);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
article.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    border-radius: 1%;
    background-color: rgb(243, 241, 241);
}

.card h1 {
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    margin-top: auto;
    text-align: center;
    padding: 0 1.6rem;
    color: rgba(0,0,0,.8);
}

.card footer {
    display: flex;
    margin-top: auto;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card footer a {
    text-decoration: none;
    width: .5rem;
    height: .5rem;
    background: rgba(0,0,0,.4);
    margin: .5rem;
    border-radius: 999rem;
}
.card footer a.active {
    background: rgba(0,0,0,.8);
}


